{#
1. Transform default ipv4 address to IPoIB ipv4 address with ipmath:
   e.g. 192.168.121.2 -> 10.0.128.2
2. Add the prefix to the string: 10.0.128.2/17
3. Validate the host/prefix with ipv4 filter
#}
{% set ipoib_host = (ansible_facts['default_ipv4'].address |
    ansible.utils.ipmath(item.offset) + '/' + item.prefix | string) |
    ansible.utils.ipv4('host/prefix') -%}
DEVICE={{ item.iface }}
NAME={{ item.iface }}
TYPE=InfiniBand
IPADDR={{ ipoib_host | ansible.utils.ipaddr('address') }}
NETMASK={{ ipoib_host | ansible.utils.ipaddr('netmask') }}
NETWORK={{ ipoib_host | ansible.utils.ipaddr('network') }}
BROADCAST={{ ipoib_host | ansible.utils.ipaddr('broadcast') }}
BOOTPROTO=static
ONBOOT=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
{% if not infiniband_ipoib_enhanced | bool %}
MTU=65520
CONNECTED_MODE=yes
{% endif %}
